

/* CSS Reset */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;

}

/* Small screen --- Mobile First */
/* setup header layout + color */

header {
    background-color: #023246;
    
}
/* creating a safe zone for iphonx X header */
.safezone {
    height: 44px;
    background-color: rgba(2, 50, 70, 0.8);
}

nav {
    height: 89px;
    background-color: rgba(2, 50, 70, 0.8);
    display: flex;
}

.navlinks {
    display: flex;
    width: 100%;
    /* push blocks inside navlinks block to left & right edges */
    justify-content: space-between;
    /* vertically center elements in nav block */
    align-items: center;
    /* breathing room for logo and hamburger menu (16px standardmargin) */
    padding-left: 12px;
    padding-right: 16px;
}
/* make logo and hamburger images into movable blocks inside flex container */
nav img {
    display: inline-block; 
}
 /* make nav anchor tags inline block (bricks) */
 .navlinks a {
     display: inline-block;
 }
 /* size logo */
 #logo {
     width: 50%;
}

/* hidding navlinks ul for landscape mode */
.navlinks ul {
    display: none;
}


@media screen and  (min-width: 768px) {
 
    /* Hide safezone */
    .safezone {
        display: none;
    }
    /* breathing room for logo and hamburger (20px) landscape */
    .navlinks {
        padding-left: 16px;
        padding-right: 20px;
    }
    /* hide hamburger menu in landscape */
    #hamburger {
        display: none;
    }
    /* Show expanded navlinks in landscape */
    .navlinks ul {
        display: flex;
    }
    /* sizing and positioning for tablet links */
    nav li {
        display: inline-block;
        padding: 8px;
        border: 1px solid #F6F6F6;
        margin-left: 8px;
        border-radius: 2px;
    } 
    /* removing default underline from anchor tags + styling */
    nav li a {
    text-decoration: none;
    color: #F6F6F6;
    font-weight: 300;
    font-size: 14px;
    }
}


@media screen and  (min-width: 900px) {
 
    /* Hide safezone */
    .safezone {
        display: none;
    }
    /* breathing room for logo and hamburger (20px) landscape */
    .navlinks {
        padding-left: 20px;
        padding-right: 24px;
    }
    /* hide hamburger menu in landscape */
    #hamburger {
        display: none;
    }
    /* Show expanded navlinks in landscape */
    .navlinks ul {
        display: flex;
    }
    /* sizing and positioning for tablet links */
    nav li {
        display: inline-block;
        padding: 8px;
        border: 1px solid #F6F6F6;
        margin-left: 16px;
        border-radius: 2px;
    } 
    /* removing default underline from anchor tags + styling */
    nav li a {
    text-decoration: none;
    color: #F6F6F6;
    font-weight: 300;
    font-size: 16px;
    }
}

@media screen and  (min-width: 1200px) {
 
    /* Hide safezone */
    .safezone {
        display: none;
    }
    /* breathing room for logo and hamburger (20px) landscape */
    .navlinks {
        padding-left: 20px;
        padding-right: 24px;
    }
    /* hide hamburger menu in landscape */
    #hamburger {
        display: none;
    }
    /* Show expanded navlinks in landscape */
    .navlinks ul {
        display: flex;
    }
    /* sizing and positioning for tablet links */
    nav li {
        display: inline-block;
        padding: 8px;
        border: none;
        margin-left: 16px;
        border-radius: none;
    } 
    /* removing default underline from anchor tags + styling */
    nav li a {
    text-decoration: none;
    color: #F6F6F6;
    font-weight: 200;
    font-size: 16px;
    }
}
